.profile{
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 20em;
    border-radius: 3%;
    font-size: 1.05rem;
  }
  
.sampleName{
  resize: none;
  background-color: transparent;
  border-width: 0px;
  color: var(--white);
  font-family: 'NanumGothicBold';
  outline: none;
  margin: .6em .7em .6em .7em;
  font-size: 1em;
}

.sampleName::placeholder{
  color: var(--light);
}

img.pokemon{
  object-position: center;
  object-fit: scale-down;
  background-color: var(--white);
  width: auto;
  height: 20em;
}

.nameAndTypes{
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.9em;
  margin: .2em 0 .2em 0;
}

.name{
  font-size: .6em;
  color: var(--white);
  margin: 0 0 0 .7em;
  font-family: 'NanumGothicBold';
}

.types{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.types img.type{
  width: .85em;
  height: .85em;
  margin-right: .15em;
}

.types img.teraType{
  width: 1em;
  height: 1em;
  padding: 0 .15em 0 .15em;
  border-left: 1px solid var(--light);
}

@media (max-width:1000px){
  .profile {
    width: 100%;
  }
  img.pokemon {
    height: 10em;
  }
}