.stats{
    margin-left: 1.3rem;
    width: 100%;
    height: auto;

    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-color: var(--light);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr .5fr .5fr .5fr .5fr .5fr .75fr .5fr .75fr;

    font-size: 1em;
}

.statCategory{
    display: flex;
    align-items: center;
}
.statCategory p{
    font-family: "NanumGothic";
    border-left: 1px solid var(--light);
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0 0;
    width: 100%;
}

.itemName{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--light);
}
.itemName p{
    font-family: "NanumGothicLight";
    color: var(--yellow);
    border-right: 1px solid var(--light);
    font-size: calc(1.5em - .5rem);
    text-align: left;
    vertical-align: middle;
    padding: 0 .5em 0 .5em;
    margin: 0;
    width: 100%;
}

.bs{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--light);
}
.bs p{
    font-family: "NanumGothicLight";
    color: var(--white);
    font-size: calc(.5em + .5rem);
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0 0;
    width: 100%;
}

.iv{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--light);
}
.iv p{
    font-family: "NanumGothicBold";
    font-size: calc(.3em + .8rem);
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0 0;
    width: 100%;
}

.ev{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--light);
}
.ev p{
    font-family: "NanumGothicBold";
    font-size: calc(.5em + .5rem);
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0 0;
    width: 100%;
}

.itemValue{
    grid-column-start: 2;
    grid-column-end: 8;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--light);
}
.itemValue p{
    font-family: "NanumGothicBold";
    font-size: calc(.5em + .5rem);
    color: var(--white);
    vertical-align: middle;
    margin: 0 0 0 0;
    padding-left: 1em;
    width: 100%;
}

.itemDesc{
    grid-column-start: 1;
    grid-column-end: 8;
    display: flex;
}
.itemDesc p{
    font-family: "NanumGothicLight";
    font-size: calc(.65em + .25rem);
    color: var(--white);
    vertical-align: middle;
    margin: .25em 0 0 0;
    padding: 0 .5em 0 .5em;
    width: 100%;
}

@media (max-width:1000px){
    .stats{
        margin-left: 0;
        margin-top: 1.3em;
        height: 15rem;
        font-size: .7em;
        grid-template-rows: .3fr .5fr .5fr .5fr .5fr .5fr 0fr .5fr 0fr;
    }

    .itemDesc p{
        font-size: 0;
    }
}
