:root{
  --red: #FF5050;
  --blue: #5050FF;
  --darker: #1B1F28;
  --dark: #2C3149;
  --light: #5C6590;
  --white: #FFFFFF;
  --yellow: #FFC224;
}

:root .line{
  height: 1em;
  width: 1px;
  background-color: var(--light);
}

.App{
  justify-self: center;
  align-self: center;
  background-color: var(--darker);
  margin: auto;
  max-width: 90rem;
  min-width: 60rem;
  width: calc(100% - 2.6rem);
  padding: 1.3rem;
}